.large-emoji { font-size: 2rem; }
.scrollable {
    max-height: 400px; /* Limita la altura */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    overflow-x: auto; /* Oculta el desplazamiento horizontal para evitar movimientos laterales */
    width: 100%; /* Mantiene el ancho completo */
    border: 1px solid #ddd; /* Opcional: estilo del borde */
    padding: 0.5rem; /* Opcional: espacio interno */
    box-sizing: border-box; /* Asegura el ajuste correcto de las dimensiones */
}
.container { max-width: 70%; margin: 0 auto; }
.icon-button { background: none; border: none; cursor: pointer; padding: 0; }
.hidden { display: none; }
.toggle-button, .add-button { background-color: #3182ce; color: white; padding: 0.5rem 1rem; border-radius: 0.375rem; margin-top: 0.5rem; }
.add-button { margin-left: 0.5rem; background-color: #38B2AC; }
.button-container { display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; gap: 0.5rem; }
.icon { font-size: 1.25rem; }
#barraProgreso {
    position: relative; /* Posiciona el texto dentro de la barra */
    overflow: hidden; /* Restringe el contenido */
    white-space: nowrap; /* Evita saltos de línea */
    display: flex; /* Usamos flexbox para alinear el texto */
    align-items: center; /* Centra verticalmente el texto */
    justify-content: center; /* Centra horizontalmente el texto */
    color: #fff; /* Color de texto por defecto */
}
.barra-container {
    position: relative;
    margin-top: 5px; /* Asegura que el texto alternativo esté posicionado correctamente */
}
.texto-progreso {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-weight: bold;
    color: black; /* Cambia a un color más visible */
    pointer-events: none; /* Evita que interfiera con los clics */
}
#menuList.hidden {
    display: none;
}
@media (min-width: 768px) {
    #menuList {
        display: flex !important; /* Siempre mostrar en pantallas más grandes */
    }
}
#buscadorVentas {
    border: 2px solid #e5e7eb; /* Un borde claro */
    transition: border-color 0.3s ease; /* Suave transición */
}
#buscadorVentas:focus {
    border-color: #3182ce; /* Cambia el color del borde al enfocarse */
}

/* Progreso de barra de metas */
.progreso-barra {
    width: 0%;
    transition: width 0.5s ease-in-out;
}